USE master
GO
DROP databse if exists Crypton_BD
GO
CREATE DATABASE Crypton_BD 
    ON (NAME = N'Crypton', FILENAME = N'C:\Crypton_bd_.mdf', SIZE = 1024MB, FILEGROWTH = 256MB)
LOG ON (NAME = N'Crypton_log', FILENAME = N'C:\Crypton_bd_log.ldf', SIZE = 512MB, FILEGROWTH = 125MB)
GO
USE [Crypton_BD]
GO
/****** Object:  Table [dbo].[admin_backup]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_backup](
	[idbackup] [int] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[path] [varchar](100) NULL,
	[fecRec] [datetime] NULL,
	[type] [varchar](100) NULL,
	[deleted] [datetime] NULL,
	[size] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idbackup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[api_keys]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[api_keys](
	[ambiente] [varchar](10) NULL,
	[btc] [varchar](50) NULL,
	[ltc] [varchar](50) NULL,
	[dog] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banco_data]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banco_data](
	[idbanco] [bigint] IDENTITY(1,1) NOT NULL,
	[cbu] [varchar](100) NULL,
	[nombre] [varchar](100) NULL,
	[alias] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idbanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billetera]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billetera](
	[idwallet] [bigint] IDENTITY(1,1) NOT NULL,
	[idcliente] [bigint] NULL,
	[idcuenta] [bigint] NULL,
	[moneda] [varchar](10) NULL,
	[direccion] [varchar](50) NULL,
	[fecCreacion] [datetime] NULL,
	[saldo] [varchar](12) NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idwallet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[fec_log] [datetime] NULL,
	[activity] [varchar](150) NULL,
	[payload] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clienta_agenda]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clienta_agenda](
	[idcontacto] [bigint] IDENTITY(1,1) NOT NULL,
	[idcliente] [bigint] NULL,
	[moneda] [varchar](10) NOT NULL,
	[valor] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcontacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[tipoDoc] [varchar](10) NULL,
	[numero] [varchar](100) NULL,
	[fec_nac] [datetime] NULL,
	[num_tramite] [varchar](50) NULL,
	[domicilio] [varchar](100) NULL,
	[telefono] [varchar](100) NULL,
	[valido] [varchar](1) NULL,
	[deleted] [datetime] NULL,
	[cbu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente_agenda]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_agenda](
	[idcontacto] [bigint] IDENTITY(1,1) NOT NULL,
	[idcliente] [bigint] NULL,
	[moneda] [varchar](10) NOT NULL,
	[valor] [varchar](100) NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcontacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente_cambios]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_cambios](
	[idchange] [bigint] IDENTITY(1,1) NOT NULL,
	[change_date] [datetime] NULL,
	[idcliente] [bigint] NULL,
	[tipoDoc] [varchar](10) NULL,
	[numero] [varchar](100) NULL,
	[fec_nac] [datetime] NULL,
	[num_tramite] [varchar](50) NULL,
	[domicilio] [varchar](100) NULL,
	[telefono] [varchar](100) NULL,
	[cbu] [varchar](50) NULL,
	[rollback_user] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idchange] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comision_operacion_valor]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comision_operacion_valor](
	[idope] [bigint] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](100) NULL,
	[valor] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idope] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comisiones]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comisiones](
	[idcobro] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo_operacion] [int] NULL,
	[referencia] [bigint] NULL,
	[idcliente] [bigint] NULL,
	[idwallet] [bigint] NULL,
	[moneda] [varchar](10) NULL,
	[valor] [float] NULL,
	[fecCobro] [datetime] NULL,
	[processed] [int] NULL,
	[deleted] [datetime] NULL,
	[fecRegister] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcobro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversiones]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversiones](
	[idconversion] [bigint] IDENTITY(1,1) NOT NULL,
	[codCripto] [varchar](10) NULL,
	[cantCripto] [float] NULL,
	[valorUSD] [float] NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idconversion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta_estado]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta_estado](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[idcuenta] [bigint] IDENTITY(1,1) NOT NULL,
	[cliente] [bigint] NULL,
	[fecAlta] [datetime] NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dvv]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvv](
	[tabla] [varchar](100) NOT NULL,
	[hash] [text] NULL,
	[fecUpdate] [datetime] NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[idempleado] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[legajo] [varchar](100) NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idioma_palabras]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma_palabras](
	[code] [varchar](50) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[valor] [varchar](100) NULL,
	[deleted] [datetime] NULL,
 CONSTRAINT [pk_idioma_palabra] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idiomas]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idiomas](
	[code] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moneda]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moneda](
	[cod] [varchar](10) NOT NULL,
	[descrip] [varchar](100) NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notificaciones]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificaciones](
	[idnotification] [bigint] IDENTITY(1,1) NOT NULL,
	[idcliente] [bigint] NULL,
	[payload] [text] NULL,
	[fecRegistro] [datetime] NULL,
	[marked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idnotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[onboarding_estados]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[onboarding_estados](
	[idestado] [int] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_compra]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_compra](
	[idcompra] [int] IDENTITY(1,1) NOT NULL,
	[idorden] [bigint] NULL,
	[fecOperacion] [datetime] NULL,
	[comprador] [bigint] NULL,
	[cantidad] [varchar](12) NULL,
	[moneda] [varchar](10) NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_estado]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_estado](
	[ídtipo] [int] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ídtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_venta]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_venta](
	[idorden] [bigint] IDENTITY(1,1) NOT NULL,
	[vendedor] [bigint] NULL,
	[cantidad] [varchar](12) NULL,
	[ofrece] [varchar](10) NULL,
	[pide] [varchar](10) NULL,
	[precio] [varchar](12) NULL,
	[fecCreacion] [datetime] NULL,
	[fecFin] [datetime] NULL,
	[ordenEstado] [int] NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idorden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[palabras]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[palabras](
	[word] [varchar](50) NOT NULL,
	[fecCreation] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[permiso] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[id_permiso_padre] [int] NULL,
	[id_permiso_hijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solic_estados]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solic_estados](
	[idestado] [bigint] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solic_ingreso]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solic_ingreso](
	[idingreso] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[idwallet] [bigint] NULL,
	[valor] [float] NULL,
	[fecSolic] [datetime] NULL,
	[origen] [varchar](50) NULL,
	[revisor] [bigint] NULL,
	[estado_solic] [int] NULL,
	[fecProceso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solic_onboarding]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solic_onboarding](
	[idsolic] [bigint] IDENTITY(1,1) NOT NULL,
	[fecSolic] [datetime] NULL,
	[idusuario] [bigint] NULL,
	[img_frente] [varchar](100) NULL,
	[img_dorso] [varchar](100) NULL,
	[img_selfie] [varchar](100) NULL,
	[solic_estado] [int] NULL,
	[fecProceso] [datetime] NULL,
	[operador] [bigint] NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idsolic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solic_operacion]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solic_operacion](
	[idoperacion] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[tipo_solic] [int] NULL,
	[idwallet] [bigint] NULL,
	[valor] [float] NULL,
	[cbu] [varchar](50) NULL,
	[operador] [bigint] NULL,
	[estado_solic] [int] NULL,
	[fecRegistro] [datetime] NULL,
	[fecProceso] [datetime] NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idoperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solic_retiro]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solic_retiro](
	[idretiro] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[idwallet] [bigint] NULL,
	[valor] [float] NULL,
	[fecSolic] [datetime] NULL,
	[cbu] [varchar](50) NULL,
	[operador] [bigint] NULL,
	[estado_solic] [int] NULL,
	[fecProceso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idretiro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_solic_op]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_solic_op](
	[idtiposolic] [bigint] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idtiposolic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_usuario]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_usuario](
	[tipo_usuario] [int] IDENTITY(1,1) NOT NULL,
	[descrip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transferencias]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transferencias](
	[idtransf] [bigint] IDENTITY(1,1) NOT NULL,
	[fecProc] [datetime] NULL,
	[cliente] [bigint] NULL,
	[origen] [bigint] NULL,
	[destino] [bigint] NULL,
	[valor] [float] NULL,
	[moneda] [varchar](10) NULL,
	[idorden] [bigint] NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idtransf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idusuario] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[alias] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[tipo_usuario] [int] NULL,
	[pwd] [varchar](100) NOT NULL,
	[hash] [text] NULL,
	[deleted] [datetime] NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_bloq]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_bloq](
	[idbloq] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[motivo] [varchar](200) NULL,
	[fecBloq] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idbloq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_cliente]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_cliente](
	[idcliente] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[numero] [varchar](100) NULL,
	[fec_nac] [varchar](20) NULL,
	[num_tramite] [varchar](50) NULL,
	[domicilio] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_contactos]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_contactos](
	[idcontacto] [bigint] IDENTITY(1,1) NOT NULL,
	[idcliente] [bigint] NULL,
	[moneda] [varchar](10) NOT NULL,
	[valor] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcontacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_estado]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_estado](
	[idestado] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_permisos]    Script Date: 30/11/2021 6:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_permisos](
	[id_usuario] [int] NOT NULL,
	[id_permiso] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin_backup] ON 

INSERT [dbo].[admin_backup] ([idbackup], [idusuario], [path], [fecRec], [type], [deleted], [size]) VALUES (1, 5, N'C:\\Crypton_BD_backup_10.24.2021.22.39.16.bak', CAST(N'2021-10-24T22:39:16.527' AS DateTime), N'BACKUP', NULL, 5627904)
INSERT [dbo].[admin_backup] ([idbackup], [idusuario], [path], [fecRec], [type], [deleted], [size]) VALUES (2, 5, N'C:\Users\54116\Desktop\Crypton_BD_backup_09.18.2021.13.03.56.bak', CAST(N'2021-09-18T13:03:56.543' AS DateTime), N'BACKUP', NULL, NULL)
INSERT [dbo].[admin_backup] ([idbackup], [idusuario], [path], [fecRec], [type], [deleted], [size]) VALUES (3, 5, N'C:\Users\54116\Desktop\Crypton_BD_backup_09.18.2021.13.04.54.bak', CAST(N'2021-09-18T13:04:54.230' AS DateTime), N'BACKUP', NULL, NULL)
SET IDENTITY_INSERT [dbo].[admin_backup] OFF
GO
INSERT [dbo].[api_keys] ([ambiente], [btc], [ltc], [dog]) VALUES (N'TEST_1', N'70d1-1c21-b76c-fb00', N'34e3-4277-7289-6fd6', N'7c02-9d46-b312-25ef')
INSERT [dbo].[api_keys] ([ambiente], [btc], [ltc], [dog]) VALUES (N'TEST_2', N'7ebe-8f45-4490-37d4', N'8e15-55be-cccd-b33c', N'cece-b117-15ca-e13d')
INSERT [dbo].[api_keys] ([ambiente], [btc], [ltc], [dog]) VALUES (N'TEST_3', N'445a-3f29-2ac6-1193', N'81ae-7b52-0529-5eb2', N'b5a7-8ef5-79da-85c7')
GO
SET IDENTITY_INSERT [dbo].[banco_data] ON 

INSERT [dbo].[banco_data] ([idbanco], [cbu], [nombre], [alias]) VALUES (1, N'0070064130004043187745', N'Banco Galicia', N'Crypton_BD.ars')
SET IDENTITY_INSERT [dbo].[banco_data] OFF
GO
SET IDENTITY_INSERT [dbo].[billetera] ON 

INSERT [dbo].[billetera] ([idwallet], [idcliente], [idcuenta], [moneda], [direccion], [fecCreacion], [saldo], [deleted]) VALUES (1, 1, 1, N'ARS', N'1-20210917053953248-1', CAST(N'2021-09-17T05:39:53.247' AS DateTime), N'998300', NULL)
INSERT [dbo].[billetera] ([idwallet], [idcliente], [idcuenta], [moneda], [direccion], [fecCreacion], [saldo], [deleted]) VALUES (2, 1, 1, N'BTC', N'2N9xZAjmVpb8pCjJWUiwVcHtTayhhnwoAZC', CAST(N'2021-09-17T05:39:53.280' AS DateTime), N'0', NULL)
INSERT [dbo].[billetera] ([idwallet], [idcliente], [idcuenta], [moneda], [direccion], [fecCreacion], [saldo], [deleted]) VALUES (3, 1, 1, N'LTC', N'2N9xZAjmVpb8pCjJWUiwVcHtTayhhnwoAZC', CAST(N'2021-09-17T05:39:53.307' AS DateTime), N'0', NULL)
SET IDENTITY_INSERT [dbo].[billetera] OFF
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 

INSERT [dbo].[bitacora] ([id], [idusuario], [fec_log], [activity], [payload]) VALUES (1, 1, CAST(N'2021-09-17T05:39:16.970' AS DateTime), N'SESSION', N'An user has closed the session')
INSERT [dbo].[bitacora] ([id], [idusuario], [fec_log], [activity], [payload]) VALUES (2, 1, CAST(N'2021-09-17T05:39:53.253' AS DateTime), N'SIGNUP', N'Se ha creado la cuenta en ars pesos id:1')
INSERT [dbo].[bitacora] ([id], [idusuario], [fec_log], [activity], [payload]) VALUES (3, 1, CAST(N'2021-09-17T05:39:53.273' AS DateTime), N'SIGNUP', N'Se ha creado :BTC/2N9xZAjmVpb8pCjJWUiwVcHtTayhhnwoAZC')
GO
SET IDENTITY_INSERT [dbo].[bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([idcliente], [idusuario], [tipoDoc], [numero], [fec_nac], [num_tramite], [domicilio], [telefono], [valido], [deleted], [cbu]) VALUES (1, 1, N'DNI', N'33295515', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'1111111', N'uai', N'123456456789', N'N', NULL, N'0070064130004043181234')
INSERT [dbo].[cliente] ([idcliente], [idusuario], [tipoDoc], [numero], [fec_nac], [num_tramite], [domicilio], [telefono], [valido], [deleted], [cbu]) VALUES (2, 2, N'DNI', N'30123123', CAST(N'2020-10-10T00:00:00.000' AS DateTime), N'21321231', N'sadsad', N'23132132123', N'N', NULL, N'0070064130004043187745')
INSERT [dbo].[cliente] ([idcliente], [idusuario], [tipoDoc], [numero], [fec_nac], [num_tramite], [domicilio], [telefono], [valido], [deleted], [cbu]) VALUES (3, 3, N'DNI', N'33295515', CAST(N'2030-10-10T00:00:00.000' AS DateTime), N'78995464564', N'mi casita', N'1234234', N'N', NULL, N'0070064130004043187745')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente_cambios] ON 

INSERT [dbo].[cliente_cambios] ([idchange], [change_date], [idcliente], [tipoDoc], [numero], [fec_nac], [num_tramite], [domicilio], [telefono], [cbu], [rollback_user]) VALUES (1, CAST(N'2021-09-17T05:39:53.000' AS DateTime), 1, N'DNI', N'33295515', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'1111111', N'sadsadsad', N'343434444', NULL, NULL)
INSERT [dbo].[cliente_cambios] ([idchange], [change_date], [idcliente], [tipoDoc], [numero], [fec_nac], [num_tramite], [domicilio], [telefono], [cbu], [rollback_user]) VALUES (2, CAST(N'2021-09-17T05:40:34.000' AS DateTime), 2, N'DNI', N'30123123', CAST(N'2020-10-10T00:00:00.000' AS DateTime), N'21321231', N'sadsad', N'23132132123', NULL, NULL)
INSERT [dbo].[cliente_cambios] ([idchange], [change_date], [idcliente], [tipoDoc], [numero], [fec_nac], [num_tramite], [domicilio], [telefono], [cbu], [rollback_user]) VALUES (3, CAST(N'2021-09-17T05:41:11.000' AS DateTime), 3, N'DNI', N'10145689', CAST(N'2030-10-10T00:00:00.000' AS DateTime), N'666666', N'asdsad', N'3434343443', NULL, NULL)
SET IDENTITY_INSERT [dbo].[cliente_cambios] OFF
GO
SET IDENTITY_INSERT [dbo].[comision_operacion_valor] ON 

INSERT [dbo].[comision_operacion_valor] ([idope], [descrip], [valor]) VALUES (1, N'Compra', 0.5)
INSERT [dbo].[comision_operacion_valor] ([idope], [descrip], [valor]) VALUES (2, N'Venta', 0.5)
INSERT [dbo].[comision_operacion_valor] ([idope], [descrip], [valor]) VALUES (3, N'Extraccion', 2.5)
SET IDENTITY_INSERT [dbo].[comision_operacion_valor] OFF
GO
SET IDENTITY_INSERT [dbo].[comisiones] ON 

INSERT [dbo].[comisiones] ([idcobro], [tipo_operacion], [referencia], [idcliente], [idwallet], [moneda], [valor], [fecCobro], [processed], [deleted], [fecRegister]) VALUES (1, 1, 1, 2, 1, N'ARS', 100, NULL, 1, NULL, CAST(N'2021-11-04T02:42:31.177' AS DateTime))
INSERT [dbo].[comisiones] ([idcobro], [tipo_operacion], [referencia], [idcliente], [idwallet], [moneda], [valor], [fecCobro], [processed], [deleted], [fecRegister]) VALUES (2, 1, 1, 2, 1, N'ARS', 100, NULL, 1, NULL, CAST(N'2021-11-04T02:42:31.177' AS DateTime))
INSERT [dbo].[comisiones] ([idcobro], [tipo_operacion], [referencia], [idcliente], [idwallet], [moneda], [valor], [fecCobro], [processed], [deleted], [fecRegister]) VALUES (3, 1, 1, 2, 1, N'ARS', 100, NULL, 1, NULL, CAST(N'2021-11-04T02:42:31.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[comisiones] OFF
GO
SET IDENTITY_INSERT [dbo].[conversiones] ON 

INSERT [dbo].[conversiones] ([idconversion], [codCripto], [cantCripto], [valorUSD], [deleted]) VALUES (1, N'BTC', 1, 33655.8, NULL)
INSERT [dbo].[conversiones] ([idconversion], [codCripto], [cantCripto], [valorUSD], [deleted]) VALUES (2, N'LTC', 1, 132.82, NULL)
INSERT [dbo].[conversiones] ([idconversion], [codCripto], [cantCripto], [valorUSD], [deleted]) VALUES (3, N'DOG', 1, 0.21682, NULL)
SET IDENTITY_INSERT [dbo].[conversiones] OFF
GO
SET IDENTITY_INSERT [dbo].[cuenta_estado] ON 

INSERT [dbo].[cuenta_estado] ([id], [descrip]) VALUES (1, N'Activa')
INSERT [dbo].[cuenta_estado] ([id], [descrip]) VALUES (2, N'Inactiva')
INSERT [dbo].[cuenta_estado] ([id], [descrip]) VALUES (3, N'Bloqueada')
SET IDENTITY_INSERT [dbo].[cuenta_estado] OFF
GO
SET IDENTITY_INSERT [dbo].[cuentas] ON 

INSERT [dbo].[cuentas] ([idcuenta], [cliente], [fecAlta], [estado]) VALUES (1, 1, CAST(N'2021-09-17T05:39:53.000' AS DateTime), 1)
INSERT [dbo].[cuentas] ([idcuenta], [cliente], [fecAlta], [estado]) VALUES (2, 2, CAST(N'2021-09-17T05:40:34.000' AS DateTime), 1)
INSERT [dbo].[cuentas] ([idcuenta], [cliente], [fecAlta], [estado]) VALUES (3, 3, CAST(N'2021-09-17T05:41:11.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[cuentas] OFF
GO
INSERT [dbo].[dvv] ([tabla], [hash], [fecUpdate], [deleted]) VALUES (N'usuario', N'8b75a894618d68f8691db25d921da1b317364a8f8199c90f74596cef6e0aac7211ef2806b6d39f105b3bfd29c0990f99eb1456f562a2108e2e86141c9c6bb113d8c0084346e261ae9c888be0f253ec6fe64b3bb790547331b67807286bf7e523926ec230c42603938166e2a676d08daf973469fa873e6d863d213a84765eaf6afa6a2e7293833eedc5e2306f8be0fe47', CAST(N'2021-09-17T05:39:09.050' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([idempleado], [idusuario], [legajo], [deleted]) VALUES (1, 5, N'13123123213', NULL)
INSERT [dbo].[empleado] ([idempleado], [idusuario], [legajo], [deleted]) VALUES (2, 7, N'asdasdsad', NULL)
INSERT [dbo].[empleado] ([idempleado], [idusuario], [legajo], [deleted]) VALUES (3, 8, N'222222', NULL)
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO
INSERT [dbo].[idioma_palabras] ([code], [clave], [valor], [deleted]) VALUES (N'ENG', N'ADDRESS', N'Address:', NULL)
INSERT [dbo].[idioma_palabras] ([code], [clave], [valor], [deleted]) VALUES (N'ENG', N'ARS_LABEL', N'Pesos', NULL)
INSERT [dbo].[idioma_palabras] ([code], [clave], [valor], [deleted]) VALUES (N'ENG', N'BACKUP_COL_FEC', N'Date', NULL)
GO
INSERT [dbo].[idiomas] ([code], [descripcion], [deleted]) VALUES (N'ASG', N'Asgardiano', NULL)
INSERT [dbo].[idiomas] ([code], [descripcion], [deleted]) VALUES (N'ENG', N'English', NULL)
INSERT [dbo].[idiomas] ([code], [descripcion], [deleted]) VALUES (N'ES', N'Español', NULL)
GO
INSERT [dbo].[moneda] ([cod], [descrip], [deleted]) VALUES (N'ARS', N'Pesos argentinos', NULL)
INSERT [dbo].[moneda] ([cod], [descrip], [deleted]) VALUES (N'BTC', N'Bitcoin', NULL)
INSERT [dbo].[moneda] ([cod], [descrip], [deleted]) VALUES (N'DOG', N'Dodge', NULL)
GO
SET IDENTITY_INSERT [dbo].[notificaciones] ON 

INSERT [dbo].[notificaciones] ([idnotification], [idcliente], [payload], [fecRegistro], [marked]) VALUES (1, 1, N'Hola damian necesitamos que ingreses en tu cuenta de ARS el valor de $1300 para saldar tus deudas.', CAST(N'2021-11-03T15:00:48.000' AS DateTime), 0)
INSERT [dbo].[notificaciones] ([idnotification], [idcliente], [payload], [fecRegistro], [marked]) VALUES (2, 2, N'Hemos debitado de cuenta de ARS el valor de $100', CAST(N'2021-11-04T21:07:43.000' AS DateTime), 0)
INSERT [dbo].[notificaciones] ([idnotification], [idcliente], [payload], [fecRegistro], [marked]) VALUES (3, 2, N'Hemos debitado de cuenta de ARS el valor de $100', CAST(N'2021-11-04T21:07:44.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[notificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[onboarding_estados] ON 

INSERT [dbo].[onboarding_estados] ([idestado], [descrip]) VALUES (1, N'Valido')
INSERT [dbo].[onboarding_estados] ([idestado], [descrip]) VALUES (2, N'Rechazado')
INSERT [dbo].[onboarding_estados] ([idestado], [descrip]) VALUES (3, N'Ilegible')
SET IDENTITY_INSERT [dbo].[onboarding_estados] OFF
GO
SET IDENTITY_INSERT [dbo].[orden_estado] ON 

INSERT [dbo].[orden_estado] ([ídtipo], [descrip]) VALUES (1, N'Disponible')
INSERT [dbo].[orden_estado] ([ídtipo], [descrip]) VALUES (2, N'Vendida')
INSERT [dbo].[orden_estado] ([ídtipo], [descrip]) VALUES (3, N'Expirada')
SET IDENTITY_INSERT [dbo].[orden_estado] OFF
GO
INSERT [dbo].[palabras] ([word], [fecCreation]) VALUES (N'ADDRESS', CAST(N'2021-09-17T05:39:09.157' AS DateTime))
INSERT [dbo].[palabras] ([word], [fecCreation]) VALUES (N'ARS_LABEL', CAST(N'2021-09-17T05:39:09.157' AS DateTime))
INSERT [dbo].[palabras] ([word], [fecCreation]) VALUES (N'BACKUP_COL_FEC', CAST(N'2021-09-18T12:05:03.177' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 

INSERT [dbo].[permiso] ([id], [nombre], [permiso]) VALUES (1, N'SEARCH_OFFERS', N'P')
INSERT [dbo].[permiso] ([id], [nombre], [permiso]) VALUES (2, N'RECOMENDATIONS', N'P')
INSERT [dbo].[permiso] ([id], [nombre], [permiso]) VALUES (3, N'MY_PUBLICATIONS', N'P')
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (10, 1)
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (10, 2)
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (10, 3)
GO
SET IDENTITY_INSERT [dbo].[solic_estados] ON 

INSERT [dbo].[solic_estados] ([idestado], [descrip]) VALUES (1, N'Aprobada')
INSERT [dbo].[solic_estados] ([idestado], [descrip]) VALUES (2, N'Rechazada')
INSERT [dbo].[solic_estados] ([idestado], [descrip]) VALUES (3, N'Pendientes')
SET IDENTITY_INSERT [dbo].[solic_estados] OFF
GO
SET IDENTITY_INSERT [dbo].[solic_operacion] ON 

INSERT [dbo].[solic_operacion] ([idoperacion], [idusuario], [tipo_solic], [idwallet], [valor], [cbu], [operador], [estado_solic], [fecRegistro], [fecProceso], [deleted]) VALUES (1, 1, 1, 1, 10, N'0070064130004043181234', 5, 1, CAST(N'2021-01-11T01:39:13.000' AS DateTime), CAST(N'2021-01-11T01:39:13.000' AS DateTime), NULL)
INSERT [dbo].[solic_operacion] ([idoperacion], [idusuario], [tipo_solic], [idwallet], [valor], [cbu], [operador], [estado_solic], [fecRegistro], [fecProceso], [deleted]) VALUES (2, 1, 1, 1, 10, N'0070064130004043181234', 5, 1, CAST(N'2021-01-11T01:39:45.000' AS DateTime), CAST(N'2021-01-11T01:39:45.000' AS DateTime), NULL)
INSERT [dbo].[solic_operacion] ([idoperacion], [idusuario], [tipo_solic], [idwallet], [valor], [cbu], [operador], [estado_solic], [fecRegistro], [fecProceso], [deleted]) VALUES (3, 1, 1, 1, 200, N'0070064130004043181234', 5, 1, CAST(N'2021-01-11T02:09:51.000' AS DateTime), CAST(N'2021-01-11T02:09:51.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[solic_operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_solic_op] ON 

INSERT [dbo].[tipo_solic_op] ([idtiposolic], [descrip]) VALUES (1, N'Ingreso de saldo')
INSERT [dbo].[tipo_solic_op] ([idtiposolic], [descrip]) VALUES (2, N'Retiro de saldo')
SET IDENTITY_INSERT [dbo].[tipo_solic_op] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_usuario] ON 

INSERT [dbo].[tipo_usuario] ([tipo_usuario], [descrip]) VALUES (1, N'Cliente')
INSERT [dbo].[tipo_usuario] ([tipo_usuario], [descrip]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[tipo_usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idusuario], [nombre], [apellido], [alias], [email], [tipo_usuario], [pwd], [hash], [deleted], [estado]) VALUES (1, N'damian', N'cipolat', N'prueba', N'LHLofA3Jn47gKzJqcki4hIHqqQIjrysxgaGjJZgsVwM=', 1, N'e10adc3949ba59abbe56e057f20f883e', N'8b75a894618d68f8691db25d921da1b3', NULL, 1)
INSERT [dbo].[usuario] ([idusuario], [nombre], [apellido], [alias], [email], [tipo_usuario], [pwd], [hash], [deleted], [estado]) VALUES (2, N'charlie', N'brown', N'cbrown', N'i5HY/mgU6DofzSzcU3Tvgjp37KY26Vl7OVlIFrotG2Q=', 1, N'e10adc3949ba59abbe56e057f20f883e', N'17364a8f8199c90f74596cef6e0aac72', NULL, 1)
INSERT [dbo].[usuario] ([idusuario], [nombre], [apellido], [alias], [email], [tipo_usuario], [pwd], [hash], [deleted], [estado]) VALUES (3, N'alf', N'shomwei', N'alf', N'HYixVzlYXo/uTIuS0ysz2Q==', 1, N'e10adc3949ba59abbe56e057f20f883e', N'11ef2806b6d39f105b3bfd29c0990f99', NULL, 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario_bloq] ON 

INSERT [dbo].[usuario_bloq] ([idbloq], [idusuario], [motivo], [fecBloq]) VALUES (1, NULL, N'Por fraude tratando de joder en la opera', CAST(N'2021-11-02T22:08:45.990' AS DateTime))
INSERT [dbo].[usuario_bloq] ([idbloq], [idusuario], [motivo], [fecBloq]) VALUES (2, 5, N'Prueba', CAST(N'2021-11-02T22:11:23.250' AS DateTime))
INSERT [dbo].[usuario_bloq] ([idbloq], [idusuario], [motivo], [fecBloq]) VALUES (3, 1, N'Por que lo dice rocko', CAST(N'2021-11-02T22:16:49.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuario_bloq] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario_estado] ON 

INSERT [dbo].[usuario_estado] ([idestado], [nombre]) VALUES (1, N'Activo')
INSERT [dbo].[usuario_estado] ([idestado], [nombre]) VALUES (2, N'Inactivo')
INSERT [dbo].[usuario_estado] ([idestado], [nombre]) VALUES (3, N'Bloquedo')
SET IDENTITY_INSERT [dbo].[usuario_estado] OFF
GO
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (1, 14)
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (2, 16)
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (3, 14)
GO
/****** Object:  Index [ix_1_billetera]    Script Date: 30/11/2021 6:23:09 ******/
CREATE NONCLUSTERED INDEX [ix_1_billetera] ON [dbo].[billetera]
(
	[idwallet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_1_cliente]    Script Date: 30/11/2021 6:23:09 ******/
CREATE NONCLUSTERED INDEX [ix_1_cliente] ON [dbo].[cliente]
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_2_cliente]    Script Date: 30/11/2021 6:23:09 ******/
CREATE NONCLUSTERED INDEX [ix_2_cliente] ON [dbo].[cliente]
(
	[cbu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_1_idiomas]    Script Date: 30/11/2021 6:23:09 ******/
CREATE NONCLUSTERED INDEX [ix_1_idiomas] ON [dbo].[idioma_palabras]
(
	[code] ASC,
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_2_idiomas]    Script Date: 30/11/2021 6:23:09 ******/
CREATE NONCLUSTERED INDEX [ix_2_idiomas] ON [dbo].[idioma_palabras]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_1_usuario]    Script Date: 30/11/2021 6:23:09 ******/
CREATE NONCLUSTERED INDEX [ix_1_usuario] ON [dbo].[usuario]
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[palabras] ADD  DEFAULT (getdate()) FOR [fecCreation]
GO
USE [master]
GO
